
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual Environment
venv/
env/
ENV/
.venv/

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Audio Outputs
*.wav
*.mp3

# Logs
*.log

# Temporary files
*.tmp
*.temp

# Streamlit
.streamlit/
